[run]
omit =
    *migrations/*
    debug_*.py
    *site-packages/*
    manage.py
    marketplace/settings.py
    *tests/*
    marketplace/flows/*
    marketplace/connect/*
    marketplace/wpp_templates/requests.py
    marketplace/clients/*
    *urls.py*

[report]
fail_under = 75
